# =============== #
# Unity generated #
# =============== #
Temp/
Library/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Assets/streamingAssets/build_info.txt
Assets/streamingAssets/build_info.txt.meta
Assets/EditorCommon/EditorResources/
Assets/StreamingAssets/resource/
Assets/StreamingAssets/resource.meta
